<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Qusasat</title>
		<style>
			.main {
				height: 300px;
				width:100%;
				background-color:#FFFFFF;
				color:#000000;
				background-image: url('{{ background_image_url }}');
				background-repeat: repeat;
			}
		</style>
	</head>
	<body>
		<center>
			<div class="main">
				<font size="4">
                    <br/>
					<b><i><center>
						<div id="div_category">{{ category }}</div>
					</center></i></b>
					<br/>
					<div id="div_qusasa" dir="rtl" align="justify" style="width:95%;">{{ quote }}</div>
					<br/>
				</font>
			</div>
		</center>
	</body>
</html>
